{% extends "p2p_site/master.html" %}
{% load static %}

{% block title %}Seller Dashboard page{% endblock %}
{% block style %}
    .overlay{
        display: none;
    }
{% endblock %}

{% block script %}

{% endblock %}

 
{% block content %}

<h1>this is seller Dashboard</h1>
<a href="{% url 'marketplace' %}" class="browse-link">Browse Marketplace<span class="arrow">>></span></a>

{% if user.is_authenticated and user.seller.is_approved %}
    <a href="{% url 'add_product' %}">Add Product</a><br><br>
{% endif %}
{% endblock %}